[submodule ".registry"]
	path = .registry
	url = https://github.com/posit-dev-shinycoreci/posit-dev-shinycoreci.r-universe.dev
	branch = HEAD
[submodule "DT"]
	path = DT
	url = https://github.com/rstudio/DT
[submodule "bsicons"]
	path = bsicons
	url = https://github.com/rstudio/bsicons
[submodule "bslib"]
	path = bslib
	url = https://github.com/rstudio/bslib
[submodule "cachem"]
	path = cachem
	url = https://github.com/r-lib/cachem
[submodule "chromote"]
	path = chromote
	url = https://github.com/rstudio/chromote
[submodule "crosstalk"]
	path = crosstalk
	url = https://github.com/rstudio/crosstalk
[submodule "dygraphs"]
	path = dygraphs
	url = https://github.com/rstudio/dygraphs
[submodule "fastmap"]
	path = fastmap
	url = https://github.com/r-lib/fastmap
[submodule "flexdashboard"]
	path = flexdashboard
	url = https://github.com/rstudio/flexdashboard
[submodule "fontawesome"]
	path = fontawesome
	url = https://github.com/rstudio/fontawesome
[submodule "gt"]
	path = gt
	url = https://github.com/rstudio/gt
[submodule "htmltools"]
	path = htmltools
	url = https://github.com/rstudio/htmltools
[submodule "htmlwidgets"]
	path = htmlwidgets
	url = https://github.com/ramnathv/htmlwidgets
[submodule "httpuv"]
	path = httpuv
	url = https://github.com/rstudio/httpuv
[submodule "later"]
	path = later
	url = https://github.com/r-lib/later
[submodule "leaflet"]
	path = leaflet
	url = https://github.com/rstudio/leaflet
[submodule "plotly"]
	path = plotly
	url = https://github.com/ropensci/plotly
[submodule "pool"]
	path = pool
	url = https://github.com/rstudio/pool
[submodule "promises"]
	path = promises
	url = https://github.com/rstudio/promises
[submodule "reactlog"]
	path = reactlog
	url = https://github.com/rstudio/reactlog
[submodule "sass"]
	path = sass
	url = https://github.com/rstudio/sass
[submodule "shiny"]
	path = shiny
	url = https://github.com/rstudio/shiny
[submodule "shinycoreci"]
	path = shinycoreci
	url = https://github.com/rstudio/shinycoreci
[submodule "shinyjster"]
	path = shinyjster
	url = https://github.com/schloerke/shinyjster
[submodule "shinymeta"]
	path = shinymeta
	url = https://github.com/rstudio/shinymeta
[submodule "shinytest"]
	path = shinytest
	url = https://github.com/rstudio/shinytest
[submodule "shinytest2"]
	path = shinytest2
	url = https://github.com/rstudio/shinytest2
[submodule "shinythemes"]
	path = shinythemes
	url = https://github.com/rstudio/shinythemes
[submodule "shinyvalidate"]
	path = shinyvalidate
	url = https://github.com/rstudio/shinyvalidate
[submodule "thematic"]
	path = thematic
	url = https://github.com/rstudio/thematic
[submodule "webdriver"]
	path = webdriver
	url = https://github.com/rstudio/webdriver
[submodule "websocket"]
	path = websocket
	url = https://github.com/rstudio/websocket
